/* 
COMMON
*******************/

html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #cba4df;
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #cba4df;
    border-right: 1px solid #cba4df;
}

.header {
    max-width: 600px;
    margin: 0 auto;
    border-left: 1px solid #c0b6c5;
    border-right: 1px solid #c0b6c5;
}

.header .main_header {
    padding: 10px;
    border-bottom: 1px solid #c0b6c5;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #e0e0f7;
}

.header .main_header .logo {
    width: 60px;
    padding-right: 10px;
}

.header .main_header h1 {
    font-size: 36px;
    color: #584774;
    text-shadow: 1px 1px 1px #9d88a7;
}


/*
POSTS
*******************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #c0b6c5;
    background-color: #e0e0f7;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c0b6c5;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #c0b6c5;
}

.posts ul {
    padding: 0;
    margin-top: 0;
    background-color: #e0e0f7;
}

.posts li {
    display: flex;
    border-bottom: 1px solid #c0b6c5;
    padding: 17px;
    position: relative;
    list-style: none;
}

.posts li .name_body a {
    display: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 30px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #c0b6c5;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: #9d88a7;
}

.content .post_form .btn {
    padding: 5px 12px;
    border-radius: 3px;
    border: none;
    background-color: #1f5feb;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    position: relative;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}